<nav class="menu">
    <div class="links">
        <LinkTo @route="index" class="menu-index">
            Home
        </LinkTo>
        <LinkTo @route="contact">
            Contact
        </LinkTo>
        <LinkTo @route="about">
            About
        </LinkTo>
    </div>
</nav>