
<div class="mainbox">
    <h3 class="links"> Chat Application </h3>
    <h4>
        <div class="links">
            <LinkTo @route = "login"> Login </LinkTo>
        </div>
        <div class="links">
            <LinkTo @route="register"> Register </LinkTo>
        </div>
    </h4>
</div>