
<div>
    <h3> Chat Application </h3>
    <h4>
        <div>
            <LinkTo @route = "login"> Login </LinkTo>
        </div>
        <div>
            <LinkTo @route="register"> Register </LinkTo>
        </div>
    </h4>
</div>