<div class="jumbo">
    <div>
        <h3>
            About
        </h3>
        <p>
            Name : Raja Vignesh
        </p>
        <p>
            <LinkTo @route = 'index' class="button">hOME</LinkTo>
        </p>
    </div>
</div>