<div class="jumbo">
    <div>
        <h3>
            Contact
        </h3>
    </div>
    <div>
        Phone Number : 9994093003
    </div>
    <div>
        E-mail : rrvignesh2001@gmail.com 
    </div>
    <p>
            <LinkTo @route = 'index' class="button">Home</LinkTo>
    </p>
</div>