<div class="jumbo">
    <div class="right tomster">
    </div>
    <div>   
        <h2>
            Welcome !
        </h2>
        <p>
            <LinkTo @route = 'about' class="button">About</LinkTo>
            <LinkTo @route = 'contact' class="button">Contact</LinkTo>      
        </p>
        <Rentals @rentals={{@model}}/>
    </div>
</div>